<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linux for kids</title>
</head>
<body>
<h1> Linux for kids</h1>
<p>Hello fellow kids, today we will learn a very cool command: <b>ls</b></p>
<p>It's very small, but useful command. It shows contents in a folder</p>
<br>
<p>Let's practice!</p>
<form method="post">
  <input name="cmd" value="ls" style="width: 10px;color:grey;" readonly/>
  <input name="arg" value=".">
  <input type="submit" value="Check"/>
</form>

<h4>Output: </h4>
{{ answer }}
</body>
</html>