{% extends 'task4/base.html' %}

{% block title %}Thanks{% endblock %}

{% block content %}
    <h1>TOTALLY DIRECT NEWS</h1>
    <p>We aRE as much DIRECT as possbile </p>

    <!DOCTYPE html>
<html>
<body>


<hr>
<article>
        <h3>Fmr. Manager of DOD Aerospace Threat Program: “UFOs are Real”</h3>
  <p>Something extraordinary was revealed today. Former high-level officials and scientists with deep black experience who have always remained in the shadows came forward on one platform. </p>
</article>
<hr>
<article>
            <h3>ALERT THE WORLD</h3>
  <p>Coronavirus fits criteria for 'Disease X,' WHO expert says</p>
</article>
<hr>
<article>
            <h3>Thousands Of Bees Attack Police, Firefighters Responding To Sting Report</h3>
  <p>First responders to a 911 call in Pasadena, California, were met with an estimated 30,000-40,000 aggressive bees.</p>
</article>
<hr>
<article>
            <h3>Chihuahua That Can’t Walk Befriends Pigeon That Can’t Fly</h3>
  <p>The two animals met at the Mia Foundation, a nonprofit in Rochester, New York, that helps animals with disabilities.</p>
</article>

<hr>
<article>
            <h3>23 Weird Valentine’s Day Gifts Your Nutball Will Truly Love</h3>
  <p>Your valentine will surely get a “heart on” for a candle that says “You Rock!” or a lifesize ...</p>
</article>
<hr>
<article>
            <h3>Incredibly Detailed Image Of The Sun’s Surface Is Here, And Frankly It Looks Delicious</h3>
  <p>Mmmmmmm, science.</p>
</article>
<hr>

<article>
            <h3>Mysterious Bermuda Triangle ‘Ghost Ship’ Discovered 95 Years After It Vanished</h3>
  <p>Explorers have found the long-lost wreck of the SS Cotopaxi, which disappeared in 1925.</p>
</article>
<hr>
<article>
            <h3>‘Extremely Obese’ Owl Rescued After Becoming Too Fat To Fly</h3>
  <p>The Suffolk Owl Sanctuary first thought the bird was injured, but it turns out she was just carrying some extra holiday weight.</p>
</article>
<hr>
<article>
            <h3>Dog Gives Birth To Green Puppy, Family Names Him ‘Hulk’</h3>
  <p>Experts suspect that liquid from inside the mother dog’s stomach — and not gamma rays — is what turned the white pup’s fur temporarily green</p>
</article>
<hr>
<article>
            <h3>For Some Reason, A Pigeon In Reno Is Wearing A Sombrero</h3>
  <p>The sighting comes after a pigeon in Las Vegas with a miniature cowboy hat glued to its head died earlier this week, animal officials said.</p>
</article>
<hr>

<article>
            <h3>Attention! People from DIRECT NEWS are not scammers! </h3>
  <p>Our team got a few messages from our furious users. We are claiming that we have no relations with xoxoxoyougothacked.com and we do not know how you data get there,
      we do not know how you get there.
    It is impossible!!! Maybe we are mistaken, please DIRECT us, we will pay you 10000000$ if you show us how they made it</p>
</article>
<hr>
<article>
            <h3>100-Year-Old Tortoise Sex God Retires After Making 800 Species-Saving Babies’</h3>
  <p>Diego has had one very busy life, helping to save the Chelonoidis hoodensis from extinction.</p>
</article>
<hr>
<article>
            <h3>Kansas Man Asks Judge To Allow Him To Have Sword Fight With Ex-Wife</h3>
  <p>The plaintiff also asked the judge for 12 weeks’ time so he could secure Japanese samurai swords.</p>
</article>
<hr>

</body>
</html>
{% endblock %}
